@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  background: #0b2721;
}

.card {
  @apply shadow-lg rounded-md w-[400px] aspect-square bg-amber-400 mx-auto my-10 flex ;
}

.card-image {
  @apply relative rounded-l-md w-1/2 h-full bg-amber-50 overflow-clip float-left;
  background: url("./assets/christian_mh.jpg") center no-repeat;
  background-size: cover;
}

.social-link{
  @apply border-black border opacity-25 rounded-md hover:opacity-50 text-xs font-bold w-5 text-center aspect-square absolute left-0.5 top-0.5;
}